.bold, h1 {
  font-weight: 700;
}
.sidenav a, code {
  display: block;
}
#showcase a, p {
  letter-spacing: .02rem;
}
#about-me p, section {
  margin-top: 5rem;
  padding-bottom: 5rem;
}
#imagery a, #my-projects a, #navbar a, .button a, .sidenav a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
}
a {
  color: rgb(142,142,147);
}
a#work {
 color:#fff;
}
a#work-d {
  color:#000;
}
a:hover {
  color: #66ff66;
}
h1 {
  text-align: center;
  color: #fff;
}
h2, h3, h4{
  color:#fff;
}
p {
  color:rgb(142,142,147);
}
h2 {
  margin-bottom: 1rem;
}
p {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.container {
  padding-right: 0;
  padding-left: 0;
}
.sidenav {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding: 5rem 2rem;
}
.sidenav a {
  text-align: right;
  padding: .375rem .5rem .375rem 1rem;
  font-size: 1.125rem;
}
#my-projects h2, #showcase a {
  text-align: center;
  font-weight: 600;
}
#about-me h1 {
  text-align: left;
  margin: 0 15px 15px 15px;
}
#main h1 {
  text-align: left;
}
.sidenav a.active, .sidenav a:hover:not(.active) {
  color: #66ff66;
}
#main {
  margin-left: 30%;
  max-width: 40rem;
  padding-bottom: .5rem;
}
#main h1 {
  padding-top: 5.5rem;
}
#main .colour-palette p {
  color: #fff;
}
.black, .dark-grey {
  color: #fff;
  padding: 1.5rem;
}
.black {
  background-color: #000;
}
.dark-grey {
  background-color: #3c3c3c;
}
.light-grey {
  color: #000;
  background-color: #f1f2f3;
  padding: 1.5rem;
}
.grey, .pink {
  color: #fff;
  padding: 1.5rem;
}
.grey {
  background-color: #8E8E93;
}
.pink {
  background-color: #66ff66;
}
#heading h1 {
  padding: .2rem;
}
pre {
  background-color: #000;
  padding: 0;
  color: #66ff66;
  font-size: 100%}
#imagery .img-title {
  font-weight: 500;
  padding-left: 1rem;
  padding-top: 1rem;
  color: #F1F1EE;
}
header {
  padding-top: 1rem;
}
header div.container {
  padding: 1.875rem 0;
  margin-bottom: 1rem;
}
#my-projects h2, #showcase h1, .banner, .image-container {
  margin-bottom: 2rem;
}
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#navbar a {
  position: relative;
  letter-spacing: .1rem;
  margin-left: 20px;
  font-size: 0.9rem;
}
.banner img {
  margin-left: auto;
  margin-right: auto;
}
#navbar a:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #66ff66;
  width: 0;
  height: 3px;
  transition: all .5s;
}
#my-projects span, #showcase a, .banner img, .img-responsive, .list-caption {
  display: block;
}
.fade, .img-responsive {
  height: 100%;
  width: 100%}
#navbar a:hover {
  color: #66ff66;
  transition: all .7s;
}
#navbar a:hover:after {
  width: 100%}
.wrapper {
  background-color: #000;
}
#showcase {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#showcase h1{
font-size: 72px;
}

#showcase p {
  font-size: 22px;
  line-height: 50px;
}
.highlight {
  color: #ffffff;
}

#introduction {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#my-projects {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.image-container {
  position: relative;
  border-radius: 8px;
  box-shadow: inset 0px 0.5px 2px rgb(155 155 155 / 10%);
}
.caption, .overlay {
  position: absolute;
}
.sub-title {
  text-align: center;
  color:#fff;
  padding-bottom: 0.5rem;
}
.project1 {
  background-color: #8c34ff;
}
.project2 {
  background-color: #ff014d;
}
.project3 {
  background-color: #32b8e8;
}
.project4 {
  background-color: #5C83FF;
}
.project5 {
  background-color: #ffcad7;
}
.project6 {
  background-color: #cdb0f3;
}
#my-projects .img-title {
  font-weight: 500;
  padding-left: 1rem;
  padding-top: 1rem;
  color: #F1F1EE;
}
.work-section .img-title {
  padding-bottom: 0;
}
.overlay {
  transition: all .3s ease;
  opacity: 0;
  background-color: #fff;
}
.image-container:hover .overlay {
  opacity: .95;
}
.caption {
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.fade {
  top: 0;
  left: 0;
  background-color: #0000008e;
}

.image-container:hover .fade {
  width: 100%}
#end, #footer .col-md-4 {
  text-align: center;
}
#about-me p {
  margin: 0px 15px 30px 15px;
  padding: 0;
}
.work h2 {
  font-weight: 600;
}
.img-showcase img {
  max-width: 100%}
.banner img {
  max-width: 40%}
.work-wrapper {
    background-color: #fff;
}
.work-wrapper h1,h2,h3,h4{
  color:#000;
}
.work-wrapper p{
  color: #3c3c3c;
}
.work-section {
  padding-left: 15%;
  padding-right: 15%}
.work-section h2 {
  font-size: 1.75rem;
  padding-bottom: .7rem;
  margin: 0;
}
.work-section h3 {
  padding-bottom: 1rem;
  margin: 0;
}
.work-section p {
  padding-bottom: 2.1rem;
  line-height: 1.9rem;
  margin: 0;
}

.work-section .bullet {
  line-height: 0rem;
}

.work-section .bullet-point {
  padding-bottom: 2.1rem;
  margin-bottom: 0;
}

.work-section .number-list {
  padding-bottom: 2.1rem;
  margin-bottom: 0;
}

.work-section .bold {
  font-weight: bolder;
  text-decoration: underline;
}

.work-section ul {
  line-height: 40px;
}

.work-section .special-heading {
  padding-bottom: 2rem;
}
.work-section .special-para {
  padding-bottom: 1.1rem;
}
.row {
  margin: 0;
}
.table {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #fff;
  box-shadow:rgb(105 46 240 / 40%) 5px 5px, rgb(112 46 240 / 30%) 10px 10px, rgb(139 46 240 / 20%) 15px 15px, rgb(130 46 240 / 10%) 20px 20px, rgb(112 46 240 / 5%) 25px 25px;
}
.table-2 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #fff;
 box-shadow: rgb(255 0 0 / 40%) 5px 5px, rgb(251 0 0 / 30%) 10px 10px, rgb(255 0 0 / 20%) 15px 15px, rgb(255 0 47 / 10%) 20px 20px, rgb(253 2 2 / 5%) 25px 25px;
}
.table-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #fff;
  box-shadow:rgb(46 193 240 / 40%) 5px 5px, rgb(46 231 240 / 30%) 10px 10px, rgb(46 231 240 / 20%) 15px 15px, rgb(46 186 240 / 10%) 20px 20px, rgb(46 231 240 / 5%) 25px 25px;
}
.table-4 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #fff;
  box-shadow:rgb(46 94 240 / 40%) 5px 5px, rgb(46 115 240 / 30%) 10px 10px, rgb(46 88 240 / 20%) 15px 15px, rgb(46 133 240 / 10%) 20px 20px, rgb(46 124 240 / 5%) 25px 25px
}
.table-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #fff;
  box-shadow: rgb(253 175 221 / 40%) 5px 5px, rgb(251 174 231 / 30%) 10px 10px, rgb(253 160 216 / 20%) 15px 15px, rgb(249 149 214 / 10%) 20px 20px, rgb(247 145 201 / 5%) 25px 25px;
}
.table-6 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #fff;
  box-shadow: rgb(141 46 240 / 40%) 5px 5px, rgb(147 46 240 / 30%) 10px 10px, rgb(165 46 240 / 20%) 15px 15px, rgb(165 46 240 / 10%) 20px 20px, rgb(183 46 240 / 5%) 25px 25px;
}
.list-content {
  padding: 1rem;
  margin: 0;
}
.list-title {
  font-weight: 700;
}
.list-caption {
  font-size: .8rem;
}
.button, .dot {
  display: inline-block;
}
.img-listing {
  background-color: #f1f2f3;
  padding: 2rem;
  margin-bottom: 2rem;
}
.img-listing img {
  max-width: 100%;
  height: auto;
  transition: all .3s;
}
.img-listing img:hover {
  transform: scale(1.03);
}
.button {
  position: relative;
  padding: 1rem;
  background-color: #000;
  transition-property: background-color;
  transition-duration: .4s;
  margin-bottom: 2.1rem;
}
.button {
  color: #fff;
}
.button:hover {
  background-color: #66ff66;
}
#end {
  padding-top: 1rem;
  padding-bottom: 3rem;
}
.dot {
  height: 8px;
  width: 8px;
  background-color: #818181;
  border-radius: 50%;
  margin: .5rem;
}
#footer {
  background-color: #000;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
#footer h1 {
  color: #f1f1f1;
}
#footer p, .fa {
  color: #818181;
}
#footer p {
  margin: 0;
  font-size: .875rem;
}
.footer-note {
  font-size: .4rem;
  font-weight: 400;
}
.footer-icons a {
  cursor: pointer;
  font-size: 1.6rem;
  margin-right: 1rem;
}
.fa:hover {
  color: #66ff66;
  transition: all .5s;
}
@media screen and (max-width:60.625em) {
  .sidenav {
  width: 100%;
  height: auto;
  position: relative;
  display: none;
}
.sidenav a {
  text-align: left;
}
#main {
  margin-left: 5%;
  margin-right: 5%}
#main h1 {
  padding-top: 1rem;
}
section {
  margin-top: 0rem;
}
.element {
  margin-top: 0;
}
#citation a {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.work-section {
  padding-left: 2%;
  padding-right: 2%}
.col-lg-6 {
  padding-left: 0;
  padding-right: 0;
}
.col-md-6 p {
  padding-bottom: 1rem;
}
}@media screen and (max-width:25em) {
  .sidenav a {
  text-align: center;
}
pre {
  font-size: 70%}
#citation a {
  font-size: 80%}
}